<h2>Ваши заявки</h2>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Адрес</th>
                <th>Телефон</th>
                <th>Тип услуги</th>
                <th>Дата и время</th>
                <th>Оплата</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <td>{{this.address}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.service_type}}</td>
                <td>{{this.preferred_date}}</td>
                <td>{{this.payment_method}}</td>
                <td>{{this.status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<a href="/orders/create" class="button">Создать новую заявку</a>